ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
  width: 100%;
    padding: 10px 0;        /* Add padding for spacing */
    border-bottom: 1px solid #000000; /* Add a divider */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
li div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.title{
font-weight: bold;

}

.badgeTodo {
  background: #000;
  color: white;
  padding: 10px 10px;
  border-radius: 1rem;
}

.badgeProcessing {
  background: #16572c;
  color: white;
  padding: 6px 6px;
  border-radius: 25px;
}

.badgeFinish {
  background: #aaaaaa;
  color: white;
  padding: 6px 6px;
  border-radius: 25px;
}
  
  /* Remove the border-bottom from the last <li> */
  li:last-child {
    border-bottom: none;
  }

  .edit {
    background-color: rgb(173, 145, 19);
  }

  .delete {
    background-color: rgb(173, 19, 19);
  }